
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: 'League Spartan', sans-serif;
   font-size: 1rem;
}
.top-container{
    width: 85%;
    margin:auto;
    text-align: center;
    line-height: 1.5;
    padding-top: 5rem;
}
.down-container{
    width: 85%;
    margin: auto;
    line-height: 1.5;
    padding-bottom: 4rem;
}
h1 {
    width: 85%;
    margin: auto;
    font-size: 2.3rem;
    line-height: 0.8;
    color: hsl(300, 43%, 22%);
    margin-bottom: 1rem;
}

.head-text p{
    color:  hsl(303, 10%, 53%);
    font-size: 1rem;
    padding:1rem 0;
}
.rating {
    margin: 2rem auto;
}
.rated{
    background: hsl(300, 24%, 96%);
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    color:  hsl(300, 43%, 22%);
    margin-bottom: 1rem;
}

.box{
    background:  hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    padding: 18px 25px;
    border-radius: 7px;
    margin: 1.2rem auto;
}
.top{
    display: flex; 
    gap:1.2rem;
    margin-bottom: 1.2rem;
}
.img{
    width:35px;
    border-radius: 100%;
}
.img-tag{
    margin-top: 0;
}
.img-tag p {
    color:hsl(333, 80%, 67%);
}
.bg-top{
    position:relative;
}
.bg-bottom{
    position:relative;
}
.bg-img{
    width: 100%;
    position: absolute;
    top:0;
}
.bg-img2{
    width: 100%;
    position:absolute;
    bottom: 0;
}
footer {
    text-align: center;
    background: #000;
    color:  hsl(303, 10%, 53%);
    padding: 10px;
}
footer a {
    text-decoration: none;
}
footer a:hover {
    color:hsl(333, 80%, 67%);
    transition: all 0.5s ease;
}

@media screen and (min-width:1024px) {
    .top-container{
        display:flex;
        width: 80%;
    }
    .head-text{
        width: 35%;
        text-align: left;
    }
    h1 {
        width: 100%;
        margin: auto;
        font-size: 3.2rem;
    }
    .head-text p{
        font-size: 1rem;
        padding:1rem 0;
    }
    .rating {
        margin-right: 0;
        margin-top:0;
    }
    .rated{
        display:flex;
        gap: 2rem;
        padding:0.8rem 2rem;
        padding-right: 3rem;
        margin-bottom: 1rem;
    }
    .rate-1{
        position: relative;
        right:8rem;
    }
    .rate-2{
        position: relative;
        right:4rem;
    }
    .down-container{
        display:flex;
        width: 80%;
        gap:2.2rem;
        margin-top: 2rem;
    }
    .box{
        padding: 30px 30px;
        border-radius: 7px;
        margin: 1.2rem auto;
    }
    .box2 {
        position: relative;
        top: 15px;
    }
    .box3 {
        position: relative;
        top: 35px;
    }
    .bg-top{
        position:relative;
    }
    .bg-bottom{
        position:relative;
    }
    .bg-img{
        width: 34%;
        position: absolute;
        top:0;
    }
    .bg-img2{
        width: 73%;
        position:absolute;
        bottom: 0;
        right: 0;
    }

}